/* vars */
:root {
  --my-sidebar-width: 52px;
  --my-tab-size: 40px;
}

/* collapsed view */
#TabsToolbar {
  margin-top: 8px !important;
}

#zen-main-app-wrapper:has(#navigator-toolbox:not([zen-sidebar-expanded="true"])) {
  /* sidebar width */
  #navigator-toolbox,
  #TabsToolbar,
  #titlebar {
    width: var(--my-sidebar-width) !important;
    min-width: var(--my-sidebar-width) !important;
    max-width: var(--my-sidebar-width) !important;
    --actual-zen-sidebar-width: var(--my-sidebar-width) !important;
    --zen-sidebar-width: var(--my-sidebar-width) !important;
  }

  /* fix folders and tabs layout */
  zen-folder {
    width: var(--my-tab-size) !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
  }

  zen-folder::before {
    width: var(--my-tab-size) !important;
    height: var(--my-tab-size) !important;
    top: 0 !important;
    left: 0 !important;
  }

  .tabbrowser-tab {
    width: var(--my-tab-size) !important;
  }

  .tab-content,
  .tab-loading-burst,
  .tab-background {
    height: var(--my-tab-size) !important;
    width: var(--my-tab-size) !important;
    margin: 0 !important;
  }

  #downloads-button,
  #zen-create-new-button {
    width: var(--my-tab-size) !important;
    height: var(--my-tab-size) !important;
  }

  #zen-create-new-button {
    margin-bottom: 10px !important;
  }

  /* hide tab overlays */
  .tab-icon-overlay {
    display: none !important;
  }

  /* flex gap */
  .zen-workspace-normal-tabs-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  /* pinned tabs margins */
  .zen-workspace-pinned-tabs-section zen-folder,
  .zen-workspace-pinned-tabs-section .tab-group-container .tabbrowser-tab {
    margin-top: 4px !important;
  }
}

/* compact mode */
[zen-compact-mode="true"] #navigator-toolbox {
  display: none !important;
}

/* hide ui elements & window controls */
#zen-sidebar-top-buttons,
.tab-close-button,
.tab-reset-button,
.zen-workspace-close-unpinned-tabs-button,
.zen-current-workspace-indicator:not(:has(.tab-label-container-editing)),
.titlebar-buttonbox-container {
  display: none !important;
}

#titlebar,
#navigator-toolbox {
  --zen-toolbar-height: 0 !important;
}

/* invisible navbar */
/* requires about:config: zen.view.shift-down-site-on-hover = true */
#zen-appcontent-navbar-wrapper {
  height: 8px !important;
  transform: translateY(-999px);
  background: transparent !important;
  overflow: visible !important;
  border: none !important;
}

/* hide in fullscreen */
:root[inFullscreen][zen-compact-mode="true"] #zen-appcontent-navbar-wrapper,
:root[inDOMFullscreen][zen-compact-mode="true"] #zen-appcontent-navbar-wrapper {
  height: 0 !important;
}

#nav-bar,
#urlbar-container {
  min-height: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}

/* keep only urlbar */
#nav-bar > *:not(#nav-bar-customization-target),
#nav-bar-customization-target > *:not(#urlbar-container) {
  display: none !important;
}

/* hide urlbar */
#urlbar {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.15s ease-in-out !important;
}

/* show urlbar on focus */
#urlbar:focus-within,
#urlbar[focused="true"] {
  opacity: 1 !important;
  pointer-events: auto !important;
}

/* requires  zen.view.experimental-no-window-controls	true */
