/* add missing spacing in collapsed view (cause lean/hide toolbar) */
#TabsToolbar {
  margin-top: 6px !important;
}

/* 40x40 tab buttons in collapsed view */
#zen-main-app-wrapper:has(
  #navigator-toolbox:not([zen-sidebar-expanded="true"])
) {
  .tabbrowser-tab {
    width: 40px !important;
  }

  .tab-content {
    width: 40px !important;
  }

  .tab-loading-burst {
    width: 40px !important;
  }

  .tab-background {
    width: 40px !important;
  }

  .tab-icon-overlay {
    display: none !important;
  }

  #navigator-toolbox {
    width: 52px !important;
    --actual-zen-sidebar-width: 52px !important;
    --zen-sidebar-width: 52px !important;
  }

  #TabsToolbar {
    width: 52px !important;
  }

  #titlebar {
    width: 52px !important;
  }

  #navigator-toolbox:not([zen-sidebar-expanded="true"]) {
    max-width: 52px !important;
    min-width: 52px !important;
  }

  #downloads-button,
  #zen-create-new-button {
    width: 40px !important;
    height: 40px !important;
  }

  #zen-create-new-button {
    margin-bottom: 10px !important;
  }
}

[zen-floating-url-bar="true"] {
  display: flex !important;
}

/* remove floating sidebar on hover */
[zen-compact-mode="true"] {
  #navigator-toolbox {
    display: none !important;
  }
}

/* remove navbar */
#titlebar,
#navigator-toolbox {
  --zen-toolbar-height: 0 !important;
}

#zen-sidebar-top-buttons {
  display: none !important;
}

/* remove navbar */
/* requires about:config zen.view.shift-down-site-on-hover = true*/
#zen-appcontent-navbar-wrapper {
  height: 8px !important;
  background: transparent !important;
  overflow: visible !important;
  border: none !important;
}

#nav-bar,
#urlbar-container {
  min-height: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}

#nav-bar > *:not(#nav-bar-customization-target),
#nav-bar-customization-target > *:not(#urlbar-container) {
  display: none !important;
}

#urlbar:not([focused]) {
  opacity: 0 !important;
  animation: unset !important;
  pointer-events: none !important;
}

#urlbar {
  opacity: 1 !important;
  animation: unset !important;
  pointer-events: auto !important;
}

/* hide worksapce indicator */
.zen-current-workspace-indicator:not(:has(.tab-label-container-editing)) {
  visibility: collapse !important;
}

/* remove close and reset btn */
.tab-close-button,
.tab-reset-button {
  display: none !important;
}

.zen-workspace-close-unpinned-tabs-button {
  display: none !important;
}
